@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=ZCOOL+KuaiLe&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shojumaru&family=ZCOOL+KuaiLe&display=swap');

/* body {
  margin-right: 0;
} */
.container {
  position: absolute;
  width: 1512px;
  height: 588px;
  left: 0px;
  top: 0px;
  background: url(../assets/Rectangle18.png);
  z-index:2;
}

.logo {
  /* Logo Savior red copy 1 */

  position: absolute;
  width: 106px;
  height: 117px;
  left: 88px;
  top: 27px;

  /* background: url(Logo Savior red copy.png); */
}
.nav_child1 p {
  /* font-family: "ZCOOL KuaiLe", sans-serif;
  color: #ffffff;
  width: 122px;
  height: 32px;
  top: 56px;
  left: 198px;
  font-weight: 400;
  line-height: 32px;
  font-size: 32px; */

  /* Saviour */

  position: absolute;
  width: 122px;
  height: 32px;
  left: 198px;
  top: 56px;

  font-family: "ZCOOL KuaiLe";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.nav_links {
  /* Frame 1822 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 24px;
  isolation: isolate;

  position: absolute;
  width: 583px;
  height: 52px;
  left: calc(50% - 583px / 2 + 33.5px);
  top: 46px;

  background: #191818;
  border-radius: 20px;
}

.nav_links a {
  font-family: "ZCOOL KuaiLe", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  align-items: center;
}

.connect_wallet {
  /* Frame 1785 */

  position: absolute;
  width: 127px;
  height: 38px;
  left: 1296px;
  top: 54px;
  background: linear-gradient(93.73deg, #ed0137 20.19%, #f05733 88.3%);
  border-radius: 15.443px;
  /* Connect Wallet */
}

.connect_wallet button {
  position: absolute;
  width: 95px;
  height: 18px;
  left: 16px;
  top: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
}

.main_content {
  /* Where Blockchain Heroes Thrive, Rescuing Dreams, Elevating Fortunes. */

  position: absolute;
  width: 1262px;
  height: 108px;
  left: 123px;
  top: 276px;

  font-family: "Shojumaru";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 119%;
  /* or 54px */
  text-align: center;

  color: #fbf6f6;
}
