.navbar_container {
  /* Rectangle 18 */

  background: url(../assets/Rectangle18.png);
}
 .navbar_links {
 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 24px;
  isolation: isolate;
  align-items: center;

  position: absolute;
  width: 583px;
  height: 52px;
  left: calc(50% - 583px / 2 + 33.5px);
  top: 46px;

  background: #191818;
  border-radius: 20px;
} 

.nav_logo {
  /* Logo Savior red copy 1 */

  position: absolute;
  width: 106px;
  height: 117px;
  left: 88px;
  top: 27px;
}

.sviour_text {
  /* Saviour */

  position: absolute;
  width: 122px;
  height: 32px;
  left: 198px;
  top: 56px;

  font-family: "ZCOOL KuaiLe";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

/* .wallet_btn {
 

  position: absolute;
  width: 127px;
  height: 38px;
  left: 1296px;
  top: 54px;

  background: linear-gradient(93.73deg, #ed0137 20.19%, #f05733 88.3%);
  border-radius: 15.443px;
} */

/* .wallet_btn > button {


  position: absolute;
  width: 95px;
  height: 18px;
  left: 16px;
  top: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  

  color: #ffffff;
} */
